.root {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 16px;
    margin-bottom: unset; // to compensate bootstrap styling
    cursor: pointer;
}
.root input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: gray;
    border-radius: 32px;
    transition: background-color 0.2s;
    &::before {
        content: "";
        display: inline-block;
        width: 12px;
        height: 12px;
        position: absolute;
        left: 2px;
        top: 2px;
        border-radius: inherit;
        background-color: white;
        transition: transform 0.2s;
    }
}
input:checked + .slider {
    background-color: black;
}
input:checked + .slider::before {
    transform: translateX(16px);
}