@import "Src/common";

.root {
    @include border;
    display: flex;
    align-items: stretch;
    &.small {
        flex-direction: column;
    }
}
.userSection {
    @include border-right-to-bottom;
    @include userSection-width;
}
.textSection {
    flex-grow: 1;
}
.buttonSection {
    @include hover-shadow;
    @include border-left-to-top;
}
.textSection > input{
    width: 100%;
}