.root {
    position: relative;
}
.root > * {
    height: 100px;
    width: 100%;
}
.root > img {
    object-fit: cover;
    object-position: 50% 0;
}
.root > div {
    position: absolute;
    top: 0;
    background-color: rgba(231, 231, 231, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.title {
    color: rgba(0, 0, 0, 1);
    text-shadow: 2px 2px 5px #fff;
}