@import "Src/common";

.root {
    @include border;
    @include hover-shadow;
    cursor: pointer;
    display: flex;
}
.titleSection {
    flex-grow: 1;
    overflow: hidden;
    & h1 {
        font-size: 1.2em;
    }
}
.vegan {
    width: 1em;
    margin-left: 0.5em;
}
.scroll {
    margin-right: 0.5em;
}
.deleteButton {
    @include hover-shadow;
    border-left: $border-params;
}