.root {
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
.root.small {
    flex-direction: column;
}
.root > div {
    display: flex;
    align-items: center;
    justify-content: center;
}
.formSection {
    font-size: 1.2em;
    flex-grow: 1;
    justify-content: stretch;
}
.titleSection {
    flex-grow: 1;
}
.titleSection > input {
    width: 100%;
}
.scroll {
    margin: 1rem;
}
.vegan {
    width: 1.5em;
    margin-left: 0.5em;
    margin-right: 0.25em;
}
.switch {
    display: flex;
    align-items: center;
    margin-right: 0.5em;
}
.buttonSection {
    padding: 0.5rem;
    border-left: 1px solid black;
    cursor: pointer;
}
.buttonSection:hover {
    box-shadow: 0 0 5px;
}
.buttonSection.small {
    border-left: none;
    border-top: 1px solid black;
}