@import "Src/common";

.root {
    @include border;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    &.small {
        flex-direction: column;
    }
    & > div {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.formSection {
    font-size: 1.2em;
    flex-grow: 1;
    justify-content: stretch;
}
.titleSection {
    flex-grow: 1;
    & > input {
        width: 100%;
    }
}
.scroll {
    margin: 1rem;
}
.vegan {
    width: 1.5em;
    margin-left: 0.5em;
    margin-right: 0.25em;
}
.switch {
    display: flex;
    align-items: center;
    margin-right: 0.5em;
}
.buttonSection {
    @include hover-shadow;
    @include border-left-to-top;
    padding: 0.5rem;
    cursor: pointer;
}