$shadow: 0px 2px 5px black;

.root {
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    display: flex;

}
.root:hover {
    box-shadow: $shadow;
}
.titleSection {
    flex-grow: 1;
}
.titleSection > h1 {
    font-size: 1.5em;
    font-weight: bold;
}
.folder {
    width: 1em;
    margin-right: 0.5em;
}
.deleteButton {
    border-left: 1px solid black;
}
.deleteButton:hover {
    box-shadow: $shadow;
}